body {
  margin: 0px;
  padding: 0px;
}
#loadAlert {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  z-index: 200;
}
#params1 {
  position: absolute;
  top: 150px;
  right: 20px;
  z-index: 100;
  width: 220px;
}
#params2 {
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 99;
  width: 220px;
}
#params3 {
  top: 10px;
  position: fixed;
  left: 50%;
  width: 1850px;
  margin-left: -925px;
  z-index: 101;
}
#params4 {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: 1400px;
  margin-left: -700px;
  z-index: 99;
}
#stat {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 50;
}
#XS .slider-handle {
  background: red;
}
#XS .slider-selection {
  background: #E68F8D
}
#YS .slider-handle {
  background: green;
}
#YS .slider-selection {
  background: #95D195;
}
#ZS .slider-handle {
  background: blue;
}
#ZS .slider-selection {
  background: #84B4DC;
}
#RS .slider-handle {
  background: orange;
}
#RS .slider-selection {
  background: #F5CA8C;
}
#TS .slider-handle {
  background: blue;
}
#TS .slider-selection {
  background: #84B4DC;
}
#tSlider {
  width: 1200px;
}
.tablenoborder td {
  border-top: none !important;
  padding-top: 20px !important;
  padding-bottom: 0px !important;
  text-align: center !important;
}
.dropdown {
  width: 240px !important;
}
.dropdown-menu {
  height: 500px;
  width: 330px;
  overflow-y: auto;
  overflow-x: auto;
}
#paletteDropdownItems {
  height: 300px;
  width: 260px;
}
#cameraDropdownItems {
  height: 70px;
  width: 50px;
}
#params2 .table td {
  text-align: left !important;
}
#params2 .table {
  table-layout: fixed !important;
} 
.table {
  margin-bottom: 5px !important;
}
