body {
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
}
#params5 {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  z-index: 200;
}
#params1 {
  position: absolute;
  top: 16%;
  right: 20px;
  z-index: 100;
  width: 240px;
  transform-origin: right top;
}
#params2 {
  position: absolute;
  top: 16%;
  left: 20px;
  z-index: 99;
  width: 220px;
  transform-origin: left top;
}
#params3 {
  top: 10px;
  position: fixed;
  left: 50%;
  width: 1850px;
  margin-left: -925px;
  z-index: 101;
  transform-origin: center top;
}
#params4 {
  position: fixed;
  bottom: 5px;
  left: 50%;
  width: 1200px;
  margin-left: -600px;
  z-index: 99;
  transform-origin: bottom center;
}
#stat {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 50;
}
#XS, #YS, #ZS, #RS {
  height: 100px;
}
#XS .slider-handle {
  background: red;
}
#XS .slider-selection {
  background: #E68F8D
}
#YS .slider-handle {
  background: green;
}
#YS .slider-selection {
  background: #95D195;
}
#ZS .slider-handle {
  background: blue;
}
#ZS .slider-selection {
  background: #84B4DC;
}
#RS .slider-handle {
  background: orange;
}
#RS .slider-selection {
  background: #F5CA8C;
}
#TS .slider-handle {
  background: blue;
}
#TS .slider-selection {
  background: #84B4DC;
}
#tSlider {
  width: 1040px;
}
.tablenoborder td {
  border-top: none !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  text-align: center !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.tablenoborder {
  table-layout: fixed !important;
  word-wrap: break-word !important;
}
.dropdown {
  width: 240px !important;
}
.dropdown-menu {
  height: 500px;
  width: 330px;
  overflow-y: auto;
  overflow-x: auto;
}
#paletteDropdownItems {
  height: 300px;
  width: 260px;
}
#cameraDropdownItems {
  height: 70px;
  width: 50px;
}
#params2 .table td {
  text-align: left !important;
}
#params2 .table {
  table-layout: fixed !important;
} 
.table {
  margin-bottom: 5px !important;
}
#panelHistory {
  height: 400px;
}
#historyList {
  overflow-y: scroll;
  height: 210px;
}
.tooltip-inner {
    max-width: 800px;
}